.hidden {
	display: none;
}

.mobile-logo img {
	height: 38px;
}

.region .content, .title {
	padding-left: 0px;
	opacity: 1;
}

.node-type-portfolio #single-portfolio, .node-type-article  #single-page{
	margin-left: 280px;
}

.node-type-portfolio .article-nav, .node-type-article .article-nav {
	display: none;
}

.blog .field-name-body {
	margin-bottom: 25px;
}

.node-type-article .field-type-image {
	text-align: center;
}

.region .widget:first-child {
  border-top: 1px solid #c5c5c5;
}

.comment {
	
}

.indented {
	padding-left: 100px;
}

.indended .comment {

}

.etabs li { display: inline-block; zoom:1; background: #f5f5f5; border: solid 1px #c7c7c7; border-bottom: none; }
.etabs li a { font-size: 12px; display: block; padding: 0 10px; outline: none; -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none; border-bottom: none; }
.etabs li.active { padding: 0; padding-top: 1px; position: relative; top: 1px; display: inline-block; background: #fff; margin: 0; box-shadow: none; border-bottom: none; }

#admin-menu {
  font-size: 10px;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  text-align: left;
}

#admin-menu-wrapper {
	padding: 5px 0px;
}