.hidden {
	display: none;
}

#site-name {
	text-align: center;
  font-size: 46px;
  margin: 10px 0px 5px 0px;
}

#site-name a {
	border-bottom: none;
}

#site-slogan {
	text-align: center;
  font-size: 16px;
  margin: 10px 0px 20px 0px;
}

.mobile-logo {
	border-bottom: none;
}

#basic-page {
	background: #fff;
	max-width: 1280px;
}

.mobile-logo img {
	height: 38px;
}

.contact-form .form-item {
	margin: 0;
}

.region-sidebar-primary {
	padding: 20px;
	margin-top: -20px;
}

.filters {
  padding: 0px 20px 13px 20px;
}

.region .content, .title {
	padding-left: 0px;
	opacity: 1;
}

.node-type-portfolio #single-portfolio,  #single-page, .node-type-team #single-team, .node-type-article #single-article{
	margin-left: 280px;
}

.node-type-portfolio .article-nav, .node-type-article .article-nav, .node-type-team .article-nav, #node-page  {
	display: none;
}

.blog .field-name-body {
	margin-bottom: 25px;
}

#article-wrap .field-type-image, #single-team .field-type-image {
	text-align: center;
}

.region .widget:first-child {
  border-top: 1px solid #c5c5c5;
}

.comment {
	
}

.indented {
	padding-left: 100px;
}

.indended .comment {

}

#comments a {
	border-bottom: none;
}

.form-actions input {
	display: inline-block; 
	margin-right: 10px;
}

.comment-permalink {
	float: right;
	text-transform: lowercase;
	font-family: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 12px;
}

.etabs li { display: inline-block; zoom:1; background: #f5f5f5; border: solid 1px #c7c7c7; border-bottom: none; }
.etabs li a { font-size: 12px; display: block; padding: 0 10px; outline: none; -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none; border-bottom: none; }
.etabs li.active { padding: 0; padding-top: 1px; position: relative; top: 1px; display: inline-block; background: #fff; margin: 0; box-shadow: none; border-bottom: none; }

#admin-menu {
  font-size: 10px;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  text-align: left;
}

#admin-menu-wrapper {
	padding: 5px 0px;
}